body {
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#generate {
  font-family: 'ubuntu';
  font-size: 15px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  height: 650px;
  border: 1px solid white;
}

.block {
  background-color: white;
}

.block:hover {
  background-color: grey;
}